<div class="example-wrapper">
  <p class="example-p">Transcluded content: <button ng-click="toggleContent()">Toggle</button></p>
  <div ng-if="showContent">
    <ng-transclude></ng-transclude>
  </div>

  <p>Angular directive content:</p>
  <my-counter title="{{title}}"></my-counter>
  <h5 class="example-title vandv-counter-state">Manipulate Commons state from angular: {{count}}</h5>
  <button ng-click="decrement()">Angular Decrement</button>
  <button ng-click="increment()">Angular Increment</button>
</div>