.demo-wrap {
  margin: 100px auto;
  width: 70%;
}

.example-wrapper {
  border: 1px solid red;
  padding: 20px;
}

.example-title, .example-p {
  margin-bottom: 15px;
}

.shell {
  border: 1px solid blue;
  padding: 50px;
}